body {
  background-repeat: no-repeat;
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    #3183ec,
    #51c1f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #3183ec,
    #51c1f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 10rem;
  padding: 0;
  background-attachment: fixed;
  zoom: 70%;
}

.weather-app {
  color: white;
  text-align: center;

  position: relative;
  margin: 20px auto;
  padding: 5px 30px;
  top: 80px;
  width: 650px;
  /* border: 1px solid white; */
  border-radius: 10px;
}

.form-control {
  margin-bottom: 40px;
  text-align: center;
  width: 20px;
}

#current-location-button {
  background: #39b5f3;
  color: white;
}

#current-location-butto:hover {
  background: white;
  color: #39b5f3;
}

.day {
  text-align: left;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-weight: 900;
  padding: 10px;
  text-transform: uppercase;
  color: #8ad8f8;
}

.city-name {
  width: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -0.5rem -0.5rem #8ad8f8;
}

ul {
  margin: 0;
  padding: 0 !important;
}

li {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 16px;
  text-align: left;
  list-style: none;
  line-height: 1.4;
}

.temperature,
.units {
  position: relative;
  top: 35px;
  font-size: 25px;
}

.active {
  font-weight: bold;
}

.description-box {
  background: #d2efff;
  color: #4fa5d5;
  border-radius: 5px;
  width: 110px;
  text-align: center;
}

.degrees-box {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  border: 1px solid white;
}

.temperature-box {
  color: white;
  font-family: "Merriweather", sans-serif;
  background: #8ad8f8;

  border-radius: 5px;
  height: 150px;
}

.temperature {
  font-size: 90px;
  top: 10px;
}

.today-icon {
  width: 75px;
  text-align: center;
}

span#description {
  font-family: "Fredoka One", cursive;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  line-height: 3;
}

p#next {
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 20px;
  text-align: center;
}

#forecast {
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #42bff5;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out;
}

#forecast:hover {
  transform: translate3d(0px, -16px, 0px);
}

.forecast-icons {
  width: 65px;
}

a {
  text-decoration: none !important;
  color: white !important;
}

a:hover {
  color: #3183ec !important;
}

.footer,
#footer-container {
  font-family: "Fredoka One", cursive;
  color: white;
  position: relative;
  top: 70px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
